h1{
  font-weight: bold;
}

img {
  border-radius: 50%;
  max-width: 200px;
  float: right;
  border: solid black;
  margin: 15px;
}

.box-1 {
  width: 85%;
  margin: auto;
  padding: 10px;
}

.box-2 {
  width: 80%;
  background-color: white;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.green {
  color: darkgreen;
}