

h1{
  font-weight: bold;
}

h4{
  font-weight: 100;
}

img {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}

.box-outer {
  width: 50%;
  border: solid black;
  border-width: 1px;
  background-color: paleturquoise;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box-inner {
  width: 50%;
  padding: 20px;
  border: solid black;
  border-width: 20px;
  background-color: palegoldenrod;
  margin-bottom: 10px;
  box-sizing: border-box;
}